.App {
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px auto;
  padding: 10px 20px;
}
.App h2 {
  font-weight: 600;
  line-height: 48px;
  font-size: 37px;
  opacity: 0.6;
}
.App footer {
  margin: 10px auto;
  font-size: 15px;
  text-align: center;
}
@media (max-width: 768px) {
  .App h2 {
    font-size: 18px;
  }
  .App footer {
    margin-bottom: 60px;
  }
  
}
